.Snap---Mega-Menu---Sub-Button---Text,.Snap---Mega-Men---A---Text---Off,.Snap---Mega-Men---A---Text---On
{
	font-family: ubuntu-n3, sans-serif;
}

.H1
{
	font-family: open-sans-n8, sans-serif;
}

#u14803.PamphletThumbSelected #u14804-4 p
{
	font-family: open-sans-n3, sans-serif;
}

#u14822-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14828-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14804-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u15341-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15344-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15351-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15315-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u16730-4
{
	font-family: open-sans-n4, sans-serif;
}

#u16748-4
{
	font-family: open-sans-n4, sans-serif;
}

#u16974-4
{
	font-family: open-sans-n4, sans-serif;
}

#u16972-4
{
	font-family: open-sans-n4, sans-serif;
}

#u17029-4
{
	font-family: open-sans-n4, sans-serif;
}

#u17027-4
{
	font-family: open-sans-n4, sans-serif;
}

#u17063-4
{
	font-family: open-sans-n4, sans-serif;
}

#u17069-4
{
	font-family: open-sans-n4, sans-serif;
}

#u17091-4
{
	font-family: open-sans-n4, sans-serif;
}

#u17086-4
{
	font-family: open-sans-n4, sans-serif;
}

#u14791-4,#u14948-4,#u14792-4,#u14861-4,#u14786-4,#u16666-4,#u16979-4,#u17034-4,#u17076-4,#u17093-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

