.Snap---Mega-Menu---Sub-Button---Text,.Snap---Mega-Men---A---Text---Off,.Snap---Mega-Men---A---Text---On
{
	font-family: ubuntu-n3, sans-serif;
}

.H1
{
	font-family: open-sans-n8, sans-serif;
}

#u14310.PamphletThumbSelected #u14311-4 p
{
	font-family: open-sans-n3, sans-serif;
}

#u14294-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14303-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14311-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u14321-4,#u14322-4,#u14325-4,#u14324-4,#u14323-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u10070-4,#u10071-4,#u10072-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10062-24
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u10065-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

