.Snap---Mega-Menu---Sub-Button---Text,.Snap---Mega-Men---A---Text---Off,.Snap---Mega-Men---A---Text---On
{
	font-family: ubuntu-n3, sans-serif;
}

.H1
{
	font-family: open-sans-n8, sans-serif;
}

#u15384.PamphletThumbSelected #u15385-4 p
{
	font-family: open-sans-n3, sans-serif;
}

#u15374-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15376-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15379-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12939-4,#u15421-4,#u15422-4,#u15425-4,#u15424-4,#u15423-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u15407-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u15400-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u15433-4,#u15385-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

