.Snap---Mega-Menu---Sub-Button---Text,.Snap---Mega-Men---A---Text---Off,.Snap---Mega-Men---A---Text---On
{
	font-family: ubuntu-n3, sans-serif;
}

.H1
{
	font-family: open-sans-n8, sans-serif;
}

#u14310.PamphletThumbSelected #u14311-4 p
{
	font-family: open-sans-n3, sans-serif;
}

#u14294-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14303-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14311-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u14321-4,#u14322-4,#u14325-4,#u14324-4,#u14323-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u8240-5
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u8240-2
{
	font-family: pt-sans-i7, sans-serif;
}

#u8193-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u8199-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u8202-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u11800-2,#u11800-3,#u11800-4,#u11800-6,#u11800-7,#u11800-9,#u11800-10,#u11800-11,#u11800-12,#u11800-15,#u11800-16,#u11800-17,#u11800-19,#u11800-21,#u11800-23,#u11800-25,#u11800-27,#u11800-29,#u11800-31,#u11800-33,#u11800-35,#u11800-36
{
	font-family: open-sans-n4, sans-serif;
}

#u8216-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u8215-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u8213-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

