.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 439px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: 46px;
}

#u14281
{
	z-index: 2;
	width: 1160px;
	height: 78px;
	top: 0px;
	left: 50%;
	margin-left: -580px;
}

#mainpage
{
	margin-left: 172px;
	position: relative;
}

#pu14331
{
	width: 0.01px;
	padding-bottom: 92px;
	margin-left: 8px;
	top: -18px;
	margin-bottom: -18px;
	position: relative;
}

#u14331
{
	z-index: 91;
	width: 225px;
	top: 5px;
	left: 50%;
	margin-left: -572px;
}

#pamphletu14282
{
	z-index: 3;
	width: 0.01px;
	height: 26px;
	top: 0px;
	left: 50%;
	margin-left: 458px;
}

#u14283popup
{
	z-index: 4;
}

#u14283
{
	width: 480px;
	padding-bottom: 44px;
	top: 174px;
	left: -541px;
}

#u14284
{
	z-index: 5;
	width: 436px;
	height: 233px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#widgetu14286
{
	z-index: 6;
	width: 0.01px;
	height: 202px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 48px;
}

#widgetu14292
{
	z-index: 7;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu14292.fld-err-st
{
	margin: 0px -10000px 0px 0px;
}

#u14294-4
{
	z-index: 8;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#u14296-4
{
	z-index: 12;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu14292:hover #u14296-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu14292.focus-st #u14296-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu14300
{
	z-index: 16;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu14300.fld-err-st
{
	margin: 60px -10000px 0px 0px;
}

#u14303-4
{
	z-index: 17;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#widgetu14292.fld-err-st #u14294-4,#widgetu14300.fld-err-st #u14303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u14301-4
{
	z-index: 21;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu14292.fld-err-st #u14296-4,#widgetu14300:hover #u14301-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu14300.focus-st #u14301-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu14300.fld-err-st #u14301-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu14292_input,#widgetu14292_prompt,#widgetu14300_input,#widgetu14300_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#widgetu14292:hover #widgetu14292_input,#widgetu14292.focus-st #widgetu14292_input,#widgetu14292.fld-err-st #widgetu14292_input,#widgetu14292:hover #widgetu14292_prompt,#widgetu14292.focus-st #widgetu14292_prompt,#widgetu14292.fld-err-st #widgetu14292_prompt,#widgetu14300:hover #widgetu14300_input,#widgetu14300.focus-st #widgetu14300_input,#widgetu14300.fld-err-st #widgetu14300_input,#widgetu14300:hover #widgetu14300_prompt,#widgetu14300.focus-st #widgetu14300_prompt,#widgetu14300.fld-err-st #widgetu14300_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u14299-4
{
	z-index: 25;
	width: 256px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 177px;
	left: 55px;
}

#u14297-4
{
	z-index: 29;
	width: 256px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 177px;
	left: 55px;
}

#u14305-4
{
	z-index: 33;
	width: 256px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 177px;
	left: 55px;
}

#widgetu14286.frm-sub-st #u14299-4,#widgetu14286.frm-subm-err-st #u14297-4,#widgetu14286.frm-subm-ok-st #u14305-4
{
	min-height: 25px;
}

#u14298-17
{
	z-index: 37;
	min-height: 30px;
	width: 98px;
	margin-right: -10000px;
	margin-top: 140px;
	left: 121px;
}

#u14285
{
	z-index: 54;
	width: 183px;
	height: 60px;
	margin-right: -10000px;
	margin-top: 152px;
	left: 136px;
}

.ie #u14285
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u14309
{
	z-index: 55;
	width: 52px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u14310
{
	width: 60px;
	top: -7px;
	left: -8px;
}

#u14310:hover
{
	margin: 0px;
}

#u14311-4
{
	z-index: 57;
	width: 52px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u14310:hover #u14311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 7px -10000px 0px 0px;
}

#u14310.PamphletThumbSelected #u14311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 7px -10000px 0px 0px;
}

#u14312
{
	width: 31px;
	top: 197px;
	left: -117px;
}

#u14313-4
{
	z-index: 62;
	width: 31px;
	min-height: 31px;
	margin-right: -10000px;
}

#u14313-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px -10000px 0px 0px;
}

#u14321-4
{
	z-index: 66;
	width: 136px;
	min-height: 46px;
	top: 46px;
	left: 50%;
	margin-left: -315px;
}

#u14322-4
{
	z-index: 70;
	width: 139px;
	min-height: 41px;
	top: 46px;
	left: 50%;
	margin-left: -146px;
}

#u14325-4
{
	z-index: 82;
	width: 145px;
	min-height: 46px;
	top: 46px;
	left: 50%;
	margin-left: 31px;
}

#u14324-4
{
	z-index: 78;
	width: 135px;
	min-height: 46px;
	top: 46px;
	left: 50%;
	margin-left: 226px;
}

#u14323-4
{
	z-index: 74;
	width: 156px;
	min-height: 41px;
	top: 46px;
	left: 50%;
	margin-left: 380px;
}

#u14330
{
	z-index: 90;
	width: 131px;
	height: 27px;
	top: 51px;
	left: 50%;
	margin-left: -478px;
}

#u14328
{
	z-index: 88;
	width: 102px;
	top: 65px;
	left: 102px;
}

#u14328_img
{
	padding-bottom: 7px;
}

#u14326
{
	z-index: 86;
	width: 907px;
	height: 1px;
	top: 76px;
	left: 50%;
	margin-left: -347px;
}

#u8240-5
{
	z-index: 192;
	width: 526px;
	min-height: 30px;
	line-height: 29px;
	font-size: 24px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	margin-left: 20px;
	margin-top: 18px;
	position: relative;
}

#u8240-2
{
	color: #7F7F7F;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	font-style: italic;
}

#tab-panelu8190
{
	z-index: 93;
	width: 1076px;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#u8191
{
	z-index: 94;
	width: 1076px;
	position: relative;
}

._u8191.f3s_top
{
	height: 32px;
	background-image: url("../images/u8191-full.png");
	background-position: left top;
	width: 1076px;
}

#pu8192
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u8192
{
	z-index: 96;
	width: 359px;
	position: relative;
	margin-right: -10000px;
}

._u8192.f3s_top
{
	height: 32px;
	background-image: url("../images/u8192-full.png");
	background-position: left top;
	width: 359px;
}

#pu8196.TabbedPanelsTabSelected ._u8196.f3s_bot,#pu8196.TabbedPanelsTabSelected ._u8196.f3s_mid,#pu8200:hover ._u8200.f3s_mid,#pu8192:hover ._u8192.f3s_mid,#pu8196:hover ._u8196.f3s_bot,#pu8196:hover ._u8196.f3s_mid,#pu8192.TabbedPanelsTabSelected ._u8192.f3s_mid,#pu8192.TabbedPanelsTabSelected ._u8192.f3s_bot,#pu8200.TabbedPanelsTabSelected ._u8200.f3s_bot,#pu8192:hover ._u8192.f3s_bot,#pu8200.TabbedPanelsTabSelected ._u8200.f3s_mid,#pu8200:hover ._u8200.f3s_bot,#pu8192:hover ._u8192.f3s_top,#pu8192.TabbedPanelsTabSelected ._u8192.f3s_top
{
	background: none;
	height: 0px;
	padding: 0px;
}

#pu8192:hover #u8192
{
	width: 358px;
	height: 30px;
	background: #C5C5C5 url("../images/u8192-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#A09F9F),color-stop(100%, #C5C5C5));
	background: -webkit-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -moz-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -ms-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -o-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: linear-gradient(to bottom,#A09F9F ,#C5C5C5 100%);
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	border-width: 1px 0px 1px 1px;
}

#pu8192.TabbedPanelsTabSelected #u8192
{
	width: 358px;
	height: 31px;
	background-image: none;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	border-width: 1px 0px 0px 1px;
}

#u8193-4
{
	z-index: 97;
	width: 358px;
	min-height: 22px;
	border-color: #999999;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 1px;
}

#pu8192:hover #u8193-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 4px;
	left: 0px;
	min-height: 22px;
}

#pu8192:active #u8193-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
}

#pu8196
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#u8196
{
	z-index: 104;
	width: 359px;
	position: relative;
	margin-right: -10000px;
}

._u8196.f3s_top
{
	height: 32px;
	background-image: url("../images/u8192-full.png");
	background-position: left top;
	width: 359px;
}

#pu8196.TabbedPanelsTabSelected ._u8196.f3s_top,#pu8196:hover ._u8196.f3s_top
{
	background: none;
	height: 0px;
	padding: 0px;
}

#pu8196:hover #u8196
{
	width: 358px;
	height: 30px;
	background: #C5C5C5 url("../images/u8192-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#A09F9F),color-stop(100%, #C5C5C5));
	background: -webkit-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -moz-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -ms-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -o-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: linear-gradient(to bottom,#A09F9F ,#C5C5C5 100%);
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	border-width: 1px 0px 1px 1px;
}

#pu8196.TabbedPanelsTabSelected #u8196
{
	width: 358px;
	height: 31px;
	background-image: none;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	border-width: 1px 0px 0px 1px;
}

#u8199-4
{
	z-index: 105;
	width: 358px;
	min-height: 22px;
	border-color: #999999;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 1px;
}

#pu8196:hover #u8199-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 4px;
	left: 0px;
	min-height: 22px;
}

#pu8196:active #u8199-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
}

#pu8200
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 716px;
}

#u8200
{
	z-index: 112;
	width: 359px;
	position: relative;
	margin-right: -10000px;
}

._u8200.f3s_top
{
	height: 32px;
	background-image: url("../images/u8192-full.png");
	background-position: left top;
	width: 359px;
}

#pu8200:hover ._u8200.f3s_top,#pu8200.TabbedPanelsTabSelected ._u8200.f3s_top
{
	background: none;
	height: 0px;
	padding: 0px;
}

#pu8200:hover #u8200
{
	width: 358px;
	height: 30px;
	background: #C5C5C5 url("../images/u8192-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#A09F9F),color-stop(100%, #C5C5C5));
	background: -webkit-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -moz-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -ms-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: -o-linear-gradient(top,#A09F9F ,#C5C5C5 100%);
	background: linear-gradient(to bottom,#A09F9F ,#C5C5C5 100%);
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	border-width: 1px 0px 1px 1px;
}

#pu8200.TabbedPanelsTabSelected #u8200
{
	width: 358px;
	height: 31px;
	background-image: none;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	border-width: 1px 0px 0px 1px;
}

#u8202-4
{
	z-index: 113;
	width: 358px;
	min-height: 22px;
	border-color: #999999;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 1px;
}

#pu8200:hover #u8202-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 4px;
	left: 0px;
	min-height: 22px;
}

#pu8200:active #u8202-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
}

#pu8192.TabbedPanelsTabSelected #u8193-4,#pu8196.TabbedPanelsTabSelected #u8199-4,#pu8200.TabbedPanelsTabSelected #u8202-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 4px;
	left: 0px;
	min-height: 22px;
}

#pu8192.TabbedPanelsTabSelected #u8193-4 p,#pu8196.TabbedPanelsTabSelected #u8199-4 p,#pu8200.TabbedPanelsTabSelected #u8202-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u8208
{
	z-index: 119;
	width: 1076px;
	position: relative;
}

#u8209
{
	z-index: 120;
	width: 1074px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 64px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u11800-39
{
	z-index: 121;
	width: 721px;
	min-height: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 67px;
}

#u11800-14
{
	font-weight: 400;
}

#u11800-2,#u11800-3,#u11800-15,#u11800-16
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11800-4,#u11800-6,#u11800-7,#u11800-9,#u11800-10,#u11800-11,#u11800-12,#u11800-17
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u11800-19,#u11800-21,#u11800-23,#u11800-25,#u11800-27,#u11800-29,#u11800-31,#u11800-33,#u11800-35,#u11800-36
{
	line-height: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u11804
{
	z-index: 160;
	width: 899px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 68px;
}

#u11806
{
	z-index: 161;
	width: 899px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 68px;
}

#u8212
{
	z-index: 162;
	width: 710px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 20px 338px 79px 26px;
	border-width: 0px 1px 1px;
}

#u8214-4
{
	z-index: 163;
	width: 216px;
	min-height: 30px;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	position: relative;
}

#u11735
{
	z-index: 187;
	width: 345px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u8216-4
{
	z-index: 171;
	width: 345px;
	min-height: 28px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-top: 4px;
	position: relative;
}

#u8216-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 4px 0px 0px;
}

#u8217-4
{
	z-index: 167;
	width: 216px;
	min-height: 30px;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 49px;
	position: relative;
}

#u8214-2,#u8217-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8214,#u8217
{
	font-size: 18px;
	line-height: 22px;
}

#pu11701
{
	width: 0.01px;
	position: relative;
}

#u11701
{
	z-index: 183;
	width: 345px;
	position: relative;
	margin-right: -10000px;
}

#u11714
{
	z-index: 185;
	width: 345px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#pu8215-4
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 7px;
	position: relative;
}

#u8215-4
{
	z-index: 179;
	width: 271px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u8213-4
{
	z-index: 175;
	width: 271px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u8215-4:hover,#u8213-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u8216-4:hover p,#u8215-4:hover p,#u8213-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u8218
{
	z-index: 189;
	width: 1074px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u11807
{
	z-index: 190;
	width: 733px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 27px;
}

#u11807_img
{
	padding-right: 1px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

body
{
	padding-bottom: 72px;
}

