.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 676px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 61px;
	padding-bottom: 163px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#u10036
{
	z-index: 2;
	width: 1160px;
	position: relative;
}

body
{
	padding-bottom: 36px;
}

