.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 3237px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 108px;
	padding-bottom: 112px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#ppu12510
{
	width: 0.01px;
	margin-left: 206px;
	position: relative;
}

#pu12510
{
	z-index: 23;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u12510
{
	z-index: 0;
	width: 746px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C5C5C5;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu12511
{
	width: 0.01px;
	position: relative;
	left: 142px;
	padding-top: 103px;
	z-index: 2;
	padding-bottom: 128px;
}

#u12511
{
	z-index: 24;
	width: 485px;
	position: relative;
}

#u12518-4
{
	z-index: 27;
	width: 47px;
	min-height: 19px;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	margin-left: 208px;
	margin-top: 7px;
	position: relative;
}

#u12478
{
	z-index: 8;
	width: 200px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 205px;
}

#u12517
{
	z-index: 26;
	width: 82px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 373px;
}

#u12458
{
	z-index: 22;
	width: 74px;
	height: 25px;
	margin-left: 566px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u12437
{
	z-index: 9;
	width: 199px;
	height: 41px;
	margin-left: 249px;
	margin-top: 84px;
	position: relative;
}

#u12463
{
	z-index: 6;
	width: 1160px;
	margin-top: 88px;
	position: relative;
}

#pu12474
{
	width: 0.01px;
	position: relative;
}

#u12474
{
	z-index: 4;
	width: 1160px;
	position: relative;
	margin-right: -10000px;
}

#pamphletu12439
{
	z-index: 10;
	width: 0.01px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 567px;
	left: 975px;
}

#u12440
{
	z-index: 11;
	width: 107px;
	position: relative;
	margin-right: -10000px;
}

#u12441
{
	position: absolute;
	width: 107px;
	height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u12478,.ie #u12517,.ie #u12458,.ie #u12437,.ie #u12441
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12441:hover
{
	margin: 0px;
}

.ie #u12441:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12452
{
	position: absolute;
	width: 738px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: -450px;
	left: -789px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u12452popup
{
	z-index: 13;
}

#u12453
{
	z-index: 14;
	width: 694px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: #F3F3F4;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12454
{
	z-index: 15;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 25px;
}

#u12456
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 5px;
	top: -426px;
	left: -106px;
}

#u12456:hover
{
	background-color: #999999;
	margin: 0px;
}

#u12456:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u12457-4
{
	z-index: 18;
	width: 20px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u12467
{
	z-index: 2;
	width: 1160px;
	margin-top: 5px;
	position: relative;
}

#u12467_img
{
	padding-right: 20px;
}

body
{
	padding-bottom: 36px;
}

