@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 425px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 145px;
}

#u16205
{
	z-index: 2;
	width: 380px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u16540
{
	z-index: 4;
	width: 82px;
	height: 76px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 23px;
}

#u16541
{
	z-index: 5;
	width: 82px;
	height: 76px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 267px;
}

#u16542
{
	z-index: 6;
	width: 82px;
	height: 76px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 155px;
}

#u16543
{
	z-index: 7;
	width: 82px;
	height: 76px;
	position: relative;
	margin-right: -10000px;
	margin-top: 341px;
	left: 93px;
}

#u16544
{
	z-index: 8;
	width: 82px;
	height: 76px;
	position: relative;
	margin-right: -10000px;
	margin-top: 341px;
	left: 216px;
}

#u16546
{
	z-index: 9;
	width: 124px;
	height: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 134px;
}

#u16547
{
	z-index: 10;
	width: 106px;
	height: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 263px;
}

.ie #u16540,.ie #u16541,.ie #u16542,.ie #u16543,.ie #u16544,.ie #u16546,.ie #u16547
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu16489
{
	z-index: 11;
	width: 380px;
	margin-right: -10000px;
	margin-top: 52px;
}

#u16511
{
	width: 74px;
	min-height: 28px;
	margin-right: -10000px;
}

#u16514
{
	width: 74px;
	padding-bottom: 6px;
}

#u16517-4
{
	width: 74px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u16529
{
	width: 74px;
	min-height: 28px;
	margin-right: -10000px;
	left: 76px;
}

#u16530
{
	width: 74px;
	padding-bottom: 6px;
}

#u16533-4
{
	width: 74px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u16490
{
	width: 74px;
	min-height: 28px;
	margin-right: -10000px;
	left: 152px;
}

#u16491
{
	width: 74px;
	padding-bottom: 6px;
}

#u16494-4
{
	width: 74px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u16497
{
	width: 75px;
	min-height: 28px;
	margin-right: -10000px;
	left: 228px;
}

#u16498
{
	width: 75px;
	padding-bottom: 6px;
}

#u16500-4
{
	width: 75px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u16504
{
	width: 75px;
	min-height: 28px;
	margin-right: -10000px;
	left: 305px;
}

#u16507
{
	width: 75px;
	padding-bottom: 6px;
}

#u16514.MuseMenuActive,#u16530.MuseMenuActive,#u16491.MuseMenuActive,#u16498.MuseMenuActive,#u16507.MuseMenuActive
{
	margin: 0px;
}

#u16510-4
{
	width: 75px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u16514.MuseMenuActive #u16517-4,#u16530.MuseMenuActive #u16533-4,#u16491.MuseMenuActive #u16494-4,#u16498.MuseMenuActive #u16500-4,#u16507.MuseMenuActive #u16510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u16536-4
{
	z-index: 42;
	width: 39px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 323px;
}

#u16537
{
	z-index: 46;
	width: 116px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 7px;
}

#page .verticalspacer
{
	clear: both;
}

